elpa/
auto-save-list/
autosaves/
backups/
/.cache
custom.el
/.historian
/recentf
/.smex-items
/.emacs.desktop
/.session
/history
*.lock
/projectile.cache
/projectile-bookmarks.eld
/.mc-lists.el
.DS_Store
/tramp